extends ../layout.pug

block content
    .box
        .any.items
            form
                h2 Common Info
                .box
                    .any.items
                        label(for="type") Type:
                        select.u-full-width(id="type",name="type",required)
                            option(value="Folder", selected=type==="Folder") Folder
                            option(value="Text", selected=type==="Text") Text
                            option(value="Problem", selected=type==="Problem") Problem
                            option(value="Hint", selected=type==="Hint") Hint
                    .any.items
                        label(for="parentId") Parent ID:
                        input.u-full-width(type="text",id="parentId",name="parentId",value=parentId.toString())
                .box
                    .any.items
                        label(for="ind") Index:
                        input.u-full-width(type="number",id="ind",step=0.1,name="ind",required,value=ind)
                    .any.items
                        label(for="name") Name:
                        input.u-full-width(type="text",id="name",name="name",required,value=name)

                h2 For Text
                .box
                    .any.items
                        label(for="body") Body:
                        textarea.u-full-width(id="body",name="body") #{body}

                h2 For Problem
                .box
                    .any.items
                        label(for="platform") Platform: #{platform}
                        select.u-full-width(id="platform",name="platform")
                            option(selected=!platform, value="") Select a Platform
                            option(value="CF", selected=platform==="CF") CF
                            option(value="HR", selected=platform==="HR") HackerRank
                            option(value="LOJ", selected=platform==="LOJ") LightOJ
                            option(value="UVa", selected=platform==="UVa") UVa
                            option(value="SPOJ", selected=platform==="SPOJ") SPOJ
                            option(value="Toph", selected=platform==="Toph") Toph
                            option(value="HDU", selected=platform==="HDU") HDU
                            option(value="POJ", selected=platform==="POJ") POJ
                    .any.items
                        label(for="pid") Problem ID:
                        input.u-full-width(type="text", id="pid", name="pid", value=pid)
                .box
                    .any.items
                        label(for="link") Link:
                        input.u-full-width(type="text",id="link",name="link",value=link)
                .box
                    .any.items
                        label(for="hints") Hint:
                        textarea.u-full-width(id="hint",name="hint") #{hint}

                .box
                    .any.items.u-text-center
                        input.u-full-width(type="submit",formmethod="post",formaction="/admin/gateway/edit/"+_id, value="Update")
                    .any.items.u-text-center
                        button.u-full-width.danger(type="submit",name="button",formmethod="post",formaction="/admin/gateway/delete/"+_id)
                            i.fa.fa-trash-o
                            span Delete
