<div class="box u-fill-view">
    <div class="any items">
        <form>
            <h2>Common Info</h2>
            <div class="box">
                <div class="any items">
                    <label for="type">Type:</label>
                    <select class="u-full-width" id="type" name="type" required="">
                        <option disabled selected value>Select a Type</option>
                        <option value="Folder">Folder</option>
                        <option value="Text">Text</option>
                        <option value="Problem">Problem</option>
                        <option value="Hint">Hint</option>
                    </select>
                </div>
                <div class="any items">
                    <label for="parentId">Parent ID:</label>
                    <input class="u-full-width" type="text" id="parentId" name="parentId" value="{{parentId}}">
                </div>
            </div>

            <div class="box">
                <div class="any items">
                    <label for="ind">Index:</label>
                    <input class="u-full-width" type="number" id="ind" name="ind" value="{{ind}}" required>
                </div>
                <div class="any items">
                    <label for="name">Name:</label>
                    <input class="u-full-width" type="text" id="name" name="name" value="{{name}}" required>
                </div>
            </div>

            <h2>For Text</h2>
            <div class="box">
                <div class="any items">
                    <label for="body">Body:</label>
                    <textarea class="u-full-width" id="body" name="body">{{body}}</textarea>
                </div>
            </div>

            <h2>For Problem</h2>
            <div class="box">
                <div class="any items">
                    <label for="platform">Platform:</label>
                    <select class="u-full-width" id="platform" name="platform">
                        <option disabled selected value>Select a Platform</option>
                        <option value="HR">HackerRank</option>
                        <option value="LOJ">LightOJ</option>
                        <option value="UVa">UVa</option>
                        <option value="SPOJ">SPOJ</option>
                    </select>
                </div>
                <div class="any items">
                    <label for="pid">Problem ID:</label>
                    <input class="u-full-width" type="text" id="pid" name="pid" value="{{pid}}">
                </div>
            </div>
            <div class="box">
                <div class="any items">
                    <label for="link">Problem ID:</label>
                    <input class="u-full-width" type="text" id="link" name="link" value="{{link}}">
                </div>
            </div>

            <div class="box">
                <div class="any items">
                    <label for="hint">Hint:</label>
                    <textarea class="u-full-width" id="hint" name="hint"> {{hint}}</textarea>
                </div>
            </div>

            <div class="box u-flex-top">
                <div class="any items u-text-center">
                    <input class="u-full-width" type="submit" formmethod="post" formaction="/admin/gateway/edit/{{_id}}" value="Update">
                </div>
                <div class="any items u-text-center">
                    <button class="u-full-width" type="submit" name="button" formmethod="post" formaction="/admin/gateway/delete/{{_id}}"><i class="fa fa-trash-o"></i>Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
