<div class="box">
    <div class="any items u-text-center">
            <h4>Gateway - {{root.name}} </h2>
            <a href="/gateway/getChildren/{{root.parentId}}"><i class="fa fa-level-up" aria-hidden="true"></i> Go Up</a>
    </div>
</div>
<div class="box u-fill-view u-flex-top">

    <!-- Table to display content of folders -->
    <div class="any items u-text-center">
        <table align="center" class="u-full-width">
            <thead>
                <th>Index</th>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
            </thead>
            <tbody>
                {{#each data}}
                    {{#if ( and (compare type "!==" "Problem" ) ( compare type "!==" "Text") ) }}
                        <tr>
                            <td>{{add @index 1 }}</td>
                            <td>{{name}}</td>
                            <td><i class="fa fa-folder-o" aria-hidden="true"></i></td>
                            <td><a href="/gateway/getChildren/{{_id}}">Open</a></td>
                        </tr>
                    {{else if ( compare type "===" "Text") }}
                        <tr>
                            <td>{{add @index 1 }}</td>
                            <td>{{name}}</td>
                            <td><i class="fa fa-file-text-o" aria-hidden="true"></i></td>
                            <td> <a href="/gateway/read/{{_id}}"> Read </a> </td>
                        </tr>
                    {{else if (compare type "===" "Problem" )}}
                        <tr>
                            <td>{{add @index 1 }}</td>
                            <td>{{platform}} {{pid}} - {{name}}</td>
                            <td><i class="fa fa-link" aria-hidden="true"></i></td>
                            <td>Solve {{#if hint}} Hints {{/if}} </td>
                        </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>

</div>
