{{#if adminMode }}
    <div class="box">
        <div class="any items u-text-center">
            <a href="/admin/gateway/insert/{{root._id}}" class='button'>Insert</a>
        </div>
    </div>
{{/if}}

<div class="box">
    <div class="any items u-text-center">
        <a href="/gateway/getChildren/{{root.parentId}}"><i class="fa fa-level-up" aria-hidden="true"></i> Go Up</a>
        <h4>Gateway - {{root.name}} </h2>
    </div>
</div>
<div class="box u-fill-view u-flex-top">
    <!-- Table to display content of folders -->
    <div class="any items u-text-center">
        <table align="center" class="u-full-width">
            <thead>
                <th>Index</th>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
                {{#if adminMode}}<th>Admin</th>{{/if}}
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                    {{#if ( and (compare type "!==" "Problem" ) ( compare type "!==" "Text") ) }}
                        <td>{{add @index 1 }}</td>
                        <td>{{name}}</td>
                        <td><i class="fa fa-folder-o" aria-hidden="true"></i></td>
                        <td><a href="/gateway/getChildren/{{_id}}">Open</a></td>
                    {{else if ( compare type "===" "Text") }}
                        <td>{{add @index 1 }}</td>
                        <td>{{name}}</td>
                        <td><i class="fa fa-file-text-o" aria-hidden="true"></i></td>
                        <td> <a href="/gateway/read/{{_id}}"> Read </a> </td>
                    {{else if (compare type "===" "Problem" )}}
                        <td>{{add @index 1 }}</td>
                        <td>{{platform}} {{pid}} - {{name}}</td>
                        <td><i class="fa fa-link" aria-hidden="true"></i></td>
                        <td> <a target="_blank" href="{{link}}">Solve</a> {{#if hint}} | <a href="/gateway/hint/{{_id}}">Hints</a>{{/if}} </td>
                    {{/if}}

                    {{#if ../adminMode}}
                        <td><a href="/admin/gateway/edit/{{_id}}">Edit</a></td>
                    {{/if}}

                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>
