<div class="box">
    <div class="any items u-text-center">
        <a href="/gateway/getChildren/{{root.parentId}}">Go Up</a>
    </div>
</div>
<div class="box u-fill-view">
    <div class="any items">
        <table align="center">
            <thead>
                <th>Index</th>
                <th>Name</th>
                <th>Type</th>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{add @index 1 }}</td>
                        <td><a href="/gateway/getChildren/{{_id}}">{{name}}</td>
                        <td>
                            {{#if (compare type "===" "Text") }}
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            {{else if ( or (compare type "===" "Section") (compare type "===" "Chapter") ) }}
                                <i class="fa fa-folder-o" aria-hidden="true"></i>
                            {{else}}
                                <i class="fa fa-link" aria-hidden="true"></i>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
