<!-- Show Insert button for admin -->
{{#if adminMode}}
    <div class="box">
        <div class="any items u-text-center">
            <a class="button" href="/admin/problem-creation/insert">Insert</a>
        </div>
    </div>
{{/if}}

<div class="box">
    <div class="twelve items">
        <table align="center" class="u-full-width">
            <thead>
                <th>Index</th><th>Name</th><th>Used In</th>

                {{#if adminMode}}
                    <th>Admin</th>
                {{/if}}
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{index}}</td><td>{{name}}</td><td> <a href="{{link}}">{{usedIn}}</a></td>
                        {{#if ../adminMode}}
                            <td><a href="/admin/problem-creation/edit?_id={{_id}}">Edit</a></td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
